@import "tailwindcss";

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.3;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  overflow: hidden;
  z-index: -2;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #0b6bd9;
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 18%;
  width: 108px;
  height: 108px;
  bottom: -108px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 9%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 5s;
}
.background li:nth-child(2) {
  left: 22%;
  width: 100px;
  height: 100px;
  bottom: -100px;
  animation-delay: 5s;
}
.background li:nth-child(3) {
  left: 19%;
  width: 244px;
  height: 244px;
  bottom: -244px;
  animation-delay: 9s;
}
.background li:nth-child(4) {
  left: 76%;
  width: 148px;
  height: 148px;
  bottom: -148px;
  animation-delay: 3s;
}
.background li:nth-child(5) {
  left: 43%;
  width: 71px;
  height: 71px;
  bottom: -71px;
  animation-delay: 12s;
}
.background li:nth-child(6) {
  left: 42%;
  width: 197px;
  height: 197px;
  bottom: -197px;
  animation-delay: 19s;
}
.background li:nth-child(7) {
  left: 60%;
  width: 123px;
  height: 123px;
  bottom: -123px;
  animation-delay: 2s;
}
.background li:nth-child(8) {
  left: 11%;
  width: 77px;
  height: 77px;
  bottom: -77px;
  animation-delay: 16s;
}
.background li:nth-child(9) {
  left: 12%;
  width: 101px;
  height: 101px;
  bottom: -101px;
  animation-delay: 24s;
}
.background li:nth-child(10) {
  left: 82%;
  width: 217px;
  height: 217px;
  bottom: -217px;
  animation-delay: 20s;
}
.background li:nth-child(11) {
  left: 27%;
  width: 1px;
  height: 1px;
  bottom: -1px;
  animation-delay: 1s;
}
.background li:nth-child(12) {
  left: 39%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 37s;
}
.background li:nth-child(13) {
  left: 1%;
  width: 160px;
  height: 160px;
  bottom: -160px;
  animation-delay: 41s;
}
.background li:nth-child(14) {
  left: 24%;
  width: 34px;
  height: 34px;
  bottom: -34px;
  animation-delay: 1s;
}
